[INST] Analyser teksten for å finne referanser til "utnyttingsgrad" — en betegnelse for graden av tillatt utnyttelse av et område, ofte brukt i byggeforskrifter. Din oppgave er å identifisere spesifikke typer utnyttingsgrader som nevnes, ved å se etter følgende koder eller indirekte referanse til koder:

- BYA: Bebygd areal i kvadratmeter
- %-BYA: Bebygd areal i prosent 
- BRA: Bruksareal i kvadratmeter 
- %-BRA: Prosent bruksareal

Hvis det ikke finnes noe referanse til disse utnyttingsgradene, så sier du at det finnes ingen utnyttingsgrader i teksten.

Tekst: {{ text }}[/INST]

utnyttingsgrad: